.themes{
    background-color: black;
    color:white;
}

#theme_header{
    text-align: center;
    padding-top: 30px;
}

#theme_header1{
    text-align: center;
}

.themes_grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 0px;
    width: 80%;
    height:auto;
    margin:0 auto;
    justify-content: center; 
    }

    #themes{
        padding:10px;
        background-color: white;
    }

    .themes_grid img{
        max-height: 100px;
        max-width: auto;
        display: block;
    }
    
    .theme1 { 
        grid-area: 1 / 1 / 2 / 2; 
        height:100px;
        margin:0 auto;
        opacity: 0;
        transition: all 1s ease-in-out;
    }

    .theme2 { 
        grid-area: 1 / 2 / 2 / 3; 
        height:100px;
        margin:0 auto;
        opacity: 0;
        transition: all 1.5s ease-in-out;
    }

    .theme3 { 
        grid-area: 1 / 3 / 2 / 4;
        height:100px;
        margin:0 auto;
        opacity: 0;
        transition: all 2s ease-in-out;
    }

    .theme4 { 
        grid-area: 1 / 4 / 2 / 5; 
        height:100px;
        margin:0 auto;
        opacity: 0;
        transition: all 2.5s ease-in-out;
    }

    .theme5 { 
        grid-area: 2 / 1 / 3 / 2; 
        height:100px;
        margin:0 auto;
        opacity: 0;
        transition: all 3s ease-in-out;
    }

    .theme6 { 
        grid-area: 2 / 2 / 3 / 3; 
        height:100px;
        margin:0 auto;
        opacity: 0;
        transition: all 3.5s ease-in-out;
    }

    .theme7 { 
        grid-area: 2 / 3 / 3 / 4; 
        height:100px;
        margin:0 auto;
        opacity: 0;
        transition: all 4s ease-in-out;
    }

    .theme8 { 
        grid-area: 2 / 4 / 3 / 5; 
        height:100px;
        margin:0 auto;
        opacity: 0;
        transition: all 4.5s ease-in-out;
    }

#themes.themesvisible {
    opacity: 1;
    padding:20px;
    /* transition: all 1s ease-in-out; */
}

#select{
    border:none;
}

#select.border{
    border: 5px solid lightgrey;
}

#realistic_theme{
    width:80%;
    height:auto;
    opacity: 0;
    margin-left: 20%;
    transition: all 1s ease-in-out;
}

#realistic_img{
    height: 640px;
    width: auto;
}

#realistic_theme.visible{
    opacity: 1;
}

#real_text1{
    display: block;
    position: absolute;
    background-color:rgba(255,255,255,0.5);
    color: black;
    left:300px;
    top:750px;
    width:230px;
    text-align: center;
}

#real_text2{
    display: block;
    position: absolute;
    background-color:rgba(255,255,255,0.5);
    color: black;
    left:900px;
    top:550px;
    width:200px;
    text-align: center;
}

#real_text3{
    display: block;
    position: absolute;
    background-color:rgba(255,255,255,0.5);
    color: black;
    left:500px;
    top:900px;
    width:260px;
    text-align: center;
}

#real_theme{
    color:white;
    text-align: center;
    padding:100px;
}

#after_theme{
    background-color: black;
}

#closing_section{
    background-color: white;
    color:black;
    text-align: center;
}

#closing_section h2{
    font-size: 2.5em;
    margin-block-end: 0;
}

#closing_section h3{
    color:black;
    font-size: 1em;
}